<footer th:fragment="footer" class="mt-4 bg-secondary bg-gradient text-dark bg-opacity-25">
    <div class="container py-2 d-flex flex-column flex-md-row justify-content-md-between">
        <div class="lh-sm lh-md-base text-center text-md-start">
            <small class="text-secondary">
                <strong class="accent">Recursos TIC</strong> desarrollado por Javier, Kevin y Marina en 2024
            </small>
        </div>
        <div class="lh-sm lh-md-base text-center text-md-start">
            <small class="text-secondary inverse-accent">
                <a href="/info/project.html" class="text-decoration-none">Proyecto</a> |
                <a href="/swagger-ui/index.html" class="text-decoration-none">API</a> |
                <a href="https://github.com/kevinzamoraa/recursos_tic-grupo1-java_testing-24"
                   class="text-decoration-none">repo</a> |
                <a href="/info/legal.html" class="text-decoration-none">Aviso&nbsp;legal</a> |
                <a href="/info/privacy.html" class="text-decoration-none">Privacidad</a> |
                <a href="/info/help.html" class="text-decoration-none">Ayuda</a>
            </small>
        </div>
    </div>
</footer>