<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle de valoración/comentario</title>
    <th:replace th:replace="~{fragment/meta :: meta}" />
</head>
<body>
<h1>Detalle valoración</h1>

<div th:if="${rating}">
    <div>
        <label for="rating-id">ID:</label>
        <span id="rating-id" th:text="${rating.id}"></span>
    </div>

    <div>
        <label for="rating-user">Usuario:</label>
        <span id="rating-user" th:text="${rating.user.name}"></span>
    </div>

    <div>
        <label for="rating-resource">Recurso:</label>
        <span id="rating-resource" th:text="${rating.resource.title}"></span>
    </div>

<!--    <div>-->
<!--        <label for="rating-comment">Comentario:</label>-->
<!--        <span id="rating-comment" th:text="${rating.comment}"></span>-->
<!--    </div>-->

    <div>
        <label for="rating-score">Valoración:</label>
        <span id="rating-score" th:text="${rating.score}"></span>
    </div>

</div>
<div th:unless="${rating}">
    <p>No existe ninguna valoración</p>
</div>

<footer th:replace="~{fragment/footer :: footer}"></footer>

</body>
</html>