<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle del usuario</title>
    <th:replace th:replace="~{fragment/meta :: meta}"/>
</head>
<body>
<th:block th:replace="~{fragment/navbar :: navbar}"/>
<div class="container mt-4">

    <header>
        <h1>Detalle del usuario</h1>
    </header>

    <nav id="actions">
        <button class="btn btn-primary" onclick="location.href='/resources'">
            <i class="fa-solid fa-table-list"></i>&nbsp;&nbsp;Listar todos los usuarios
        </button>
    </nav>

    <main>
        <p th:if="${user == null}">El usuario no existe</p>
        <table th:if="${user}" id="userDetail" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Correo electrónico</th>
                    <th>Nombre de usuario</th>
                    <th>Contraseña</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                    <td>
                        <a th:href="'/users/update/' + ${user.id}" class="btn btn-sm btn-warning me-1">
                            <i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;Editar</a>
                        <a th:href="'/users/delete/' + ${user.id}" class="btn btn-sm btn-danger">
                            <i class="fa-solid fa-trash-can"></i>&nbsp;&nbsp;Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <footer th:replace="~{fragment/footer :: footer}"></footer>
    </main>
</div>
</body>
</html>