<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuarios</title>
    <th:replace th:replace="~{fragment/meta :: meta}"/>
</head>
<body class="d-flex flex-column vh-100">
    <th:block th:replace="~{fragment/spinner :: spinner}" />
    <th:block th:replace="~{fragment/modal :: modal}" />
    <th:block th:replace="~{fragment/navbar :: navbar}"/>
    <div class="container mt-4 flex-grow-1">

        <header>
            <h1 id="h1">Usuarios</h1>
        </header>

    <nav id="actions">
        <button class="btn btn-primary shadow-sm btn-sm" onclick="location.href='/users/create'" id="btnCreateUser" th:id="btnCreateUser">
            <i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Crear un usuario nuevo
        </button>
    </nav>

    <main>
        <p th:if="${users == null || users.size() == 0}" class="mt-3">No hay usuarios</p>
        <div class="table-responsive">
        <table id="userList" th:id="userList" th:if="${users.size() > 0}" class="table table-striped border shadow-sm">
            <thead>
                <tr>
                    <th scope="col" class="list-col-size visually-hidden">Avatar</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Rol</th>
                    <th scope="col" class="visually-hidden">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${users}">
                    <td class="align-middle avatar-col-size">
                        <img th:src="${user.getImageUrl() != '' ? user.getImageUrl() : '/img/user/noUser.png'}"
                             class="avatar rounded-circle me-2" th:alt="${user.getUsername()}">
                    </td>
                    <td th:text="${user.username}" class="fw-bold align-middle"></td>
                    <td th:text="${user.name}" class="align-middle"></td>
                    <td th:text="${user.email}"  class="align-middle"></td>
                    <td th:text="${user.role}" class="align-middle"></td>
                    <td class="action-col-size align-middle">
                        <div class="float-end">
                            <a th:href="'/users/update/' + ${user.id}" title="Editar el usuario"
                               class="btn btn-sm btn-warning btn-mini-size me-1">
                                <i class="fa-solid fa-pen-to-square"></i><span class="visually-hidden">Editar</span></a>
                            <button type="button" class="btn btn-sm btn-danger btn-mini-size me-1" title="Eliminar el usuario"
                                    th:classappend="${user.id != #authentication.principal.id and #authentication.principal.role.isAdmin()} ? '' : 'btn-outline-secondary disabled'"
                                    data-bs-toggle="modal" data-bs-target="#confirm"
                                    th:data-bs-url="'/users/delete/' + ${user.id}"
                                    th:data-bs-text="'¿Deseas eliminar al usuario «' + ${user.username} + '»?<br/><br/><strong>ADVERTENCIA</strong>:<br/>Al eliminar el usuario, se eliminarán sus listas y comentarios.'">
                                <i class="fa-solid fa-trash-can"></i><span class="visually-hidden">Eliminar</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <p th:if="${users != null && users.size() > 0}"
           th:text="'Total de usuarios: ' + ${users.size()}"></p>

    </main>

    </div>
    <footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>