<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de usuarios</title>
    <th:replace th:replace="~{fragment/meta :: meta}"/>
</head>
<body>
    <th:block th:replace="~{fragment/spinner :: spinner}" />
    <th:block th:replace="~{fragment/navbar :: navbar}"/>
    <div class="container mt-4">

        <header>
            <h1>Listado de usuarios</h1>
        </header>

        <nav id="actions">
            <button class="btn btn-primary me-2" onclick="location.href='/users/create'">
                <i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Crear un usuario nuevo
            </button>
            <button class="btn btn-danger" th:if="${users.size() > 0}" onclick="location.href='/users/delete'">
                <i class="fa-solid fa-circle-xmark"></i>&nbsp;&nbsp;Eliminar todos los usuarios
            </button>
        </nav>

        <main>
            <table id="userList" th:if="${users.size() > 0}" class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Correo electrónico</th>
                        <th>Nombre de usuario</th>
                        <th>Contraseña</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user: ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.password}"></td>
                        <td>
                            <a th:href="'/users/' + ${user.id}" class="btn btn-sm btn-info me-1">
                                <i class="fa-solid fa-eye"></i>&nbsp;&nbsp;Ver</a>
                            <a th:href="'/users/update/' + ${user.id}" class="btn btn-sm btn-warning me-1">
                                <i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;Editar</a>
                            <a th:href="'/users/delete/' + ${user.id}" class="btn btn-sm btn-danger">
                                <i class="fa-solid fa-trash-can"></i>&nbsp;&nbsp;Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p th:if="${users != null && users.size() > 0}"
               th:text="'Total de usuarios: ' + ${users.size()}"></p>
        </main>

        <footer th:replace="~{fragment/footer :: footer}"></footer>

    </div>
</body>
</html>