<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Proyecto</title>
    <th:replace th:replace="~{fragment/meta :: meta}" />
</head>
<body class="d-flex flex-column vh-100">
<th:block th:replace="~{fragment/modal :: modal}" />
<th:block th:replace="~{fragment/navbar :: navbar}" />
<div class="container mt-4 flex-grow-1">

    <header>
        <h1>Proyecto</h1>
    </header>

    <main>
        <section>
            <h2>Presentación</h2>
            <p>En este proyecto se ha desarrollado una aplicación web que permite gestionar recursos, valoraciones, listas de recursos y usuarios.</p>
            <p>Sección en progreso...</p>
        </section>
        <button class="btn btn-primary" onclick="history.back()">
            <i class="fa-solid fa-rotate-left"></i>&nbsp;&nbsp;Volver
        </button>
    </main>

</div>
<th:block th:replace="~{fragment/footer :: footer}"></th:block>
</body>
</html>