body {
    background: url("/img/bg.webp") center/cover no-repeat fixed;
}

h1, h2, legend, label, th {
    color: purple !important;
}

.bg-custom-purple {
  background-color: Purple;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus,
.btn-info, .btn-info:hover, .btn-info:focus {
    background-color: lightSkyBlue;
    border-color: lightSkyBlue;
    color: black;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus,
.btn-warning, .btn-warning:hover {
  background-color: salmon;
  border-color: salmon;
  color: white;
}

.btn-danger, .btn-danger:hover {
  background-color: purple;
  border-color: purple;
  color: white;
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

/* Form */

.form-label.required::after {
  content: "*";
  color: salmon;
  font-size: 12px;
  margin-left: 5px;
}

.form-control, .form-select {
    margin-bottom: 1em;
}

/* Table */

.table, .table.table-striped {
    border-left-color: Salmon !important;
    border-left-width: 6px !important;
}

#actions, table {
    margin-top: 1em;
}

/* Spinner loader */

#zone {
  border: none;
  background: none;
}

#zone:focus {
  outline: none;
}

.spinner {
  margin: 0 auto;
  border: 5px solid lightSkyBlue;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: purple;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
