body {
    background: url("/img/bg.webp") center/cover no-repeat fixed;
}

.bg-custom-purple {
  background-color: Purple;
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

/* Form */

.form-label.required::after {
  content: "*";
  color: red;
  font-size: 12px;
  margin-left: 5px;
}

.form-control, .form-select {
    margin-bottom: 1em;
}

/* Table */

.table, .table.table-striped {
    border-left-color: Salmon !important;
    border-left-width: 6px !important;
}

#actions, table {
    margin-top: 1em;
}

/* Spinner loader */

#zone {
  border: none;
  background: none;
}

#zone:focus {
  outline: none;
}

.spinner {
  margin: 0 auto;
  border: 5px solid lightblue;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: blue;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
