<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle de la lista</title>
    <th:replace th:replace="~{fragment/meta :: meta}" />
</head>
<body>
    <th:block th:replace="~{fragment/navbar :: navbar}" />
    <div class="container mt-4">

        <header>
            <h1>Detalle de la lista</h1>
        </header>

        <nav id="actions">
            <button class="btn btn-primary btn-sm" onclick="location.href='/resourcelists'">
                <i class="fa-solid fa-table-list"></i>&nbsp;&nbsp;Todas las listas
            </button>
        </nav>

        <main>
            <p th:if="${resourcelist == null}">La lista no existe</p>
            <table th:if="${resourcelist}" id="resourcelistDetail" class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descrición</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${resourcelist.id}"></td>
                    <td th:text="${resourcelist.name}"></td>
                    <td th:text="${resourcelist.description}"></td>
                    <td>
                        <a th:href="'/resourcelists/update/' + ${resourcelist.id}" class="btn btn-sm btn-warning me-1">
                            <i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;Editar</a>
                        <a th:href="'/resourcelists/delete/' + ${resourcelist.id}" class="btn btn-sm btn-danger">
                            <i class="fa-solid fa-trash-can"></i>&nbsp;&nbsp;Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <section sec:authorize="isAuthenticated()">
                <h2 th:if="${resourcelist}">Recursos</h2>

                <nav class="my-3">
                    <a th:href="'/resourcelists/add/' + ${resourcelist.id}" class="btn btn-primary btn-sm me-2">
                        <i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Añadir recursos
                    </a>
                    <a th:href="'/resources/create/' + ${resourcelist.id}" class="btn btn-primary btn-sm">
                        <i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Recurso nuevo
                    </a>
                </nav>

                <p th:if="${resourcelist != null && resources.size() == 0L}">No hay recursos</p>
                <table th:if="${resources.size() > 0L}" id="resourcesList" class="table">
                    <thead>
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="resource : ${resources}">
                        <td>
                            <a th:href="${resource.url}" th:text="${resource.title}"></a>
                        </td>
                        <td th:text="${resource.author}"></td>
                        <td th:text="${resource.type}"></td>
                        <td th:text="${resource.description}"></td>
                        <td sec:authorize="isAuthenticated()">
                            <a th:href="'/resources/' + ${resource.id}" class="btn btn-sm btn-info me-1">
                                <i class="fa-solid fa-eye"></i>&nbsp;&nbsp;Ver</a>
                            <a th:href="'/resources/update/' + ${resource.id} + '/' + ${resourcelist.id}"
                               class="btn btn-sm btn-warning me-1">
                                <i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;Editar</a>
                            <a th:href="'/resourcelists/remove/' + ${resourcelist.id} + '/' + ${resource.id}"
                               class="btn btn-sm btn-danger">
                                <i class="fa-solid fa-x"></i>&nbsp;&nbsp;Quitar</a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </section>
        </main>

        <footer th:replace="~{fragment/footer :: footer}"></footer>

    </div>
</body>
</html>