<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mis listas</title>
    <th:replace th:replace="~{fragment/meta :: meta}" />
</head>
<body class="d-flex flex-column vh-100">
    <th:block th:replace="~{fragment/spinner :: spinner}" />
    <th:block th:replace="~{fragment/modal :: modal}" />
    <th:block th:replace="~{fragment/navbar :: navbar}" />
    <div class="container mt-4 flex-grow-1">

        <header>
            <h1>Mis listas</h1>
        </header>

        <nav id="actions">
            <button class="btn btn-primary btn-sm shadow-sm me-2" onclick="location.href='/resourcelists/create'">
                <i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Crear una lista nueva
            </button>
            <button class="btn btn-danger shadow-sm btn-sm" th:if="${resourcelists.size() > 0}" onclick="location.href='/resourcelists/delete'">
                <i class="fa-solid fa-circle-xmark"></i>&nbsp;&nbsp;Eliminar todas mis listas
            </button>
        </nav>

        <main>
            <p th:if="${resourcelists == null || resourcelists.size() == 0}" class="mt-3">No existen listas</p>
            <div class="table-responsive">
            <table th:unless="${resourcelists == null || resourcelists.size() == 0}" id="resourceLists" class="table w-100 table-striped border shadow-sm">
                <thead>
                <tr>
                    <th class="list-col-size"></th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="resourcelist : ${resourcelists}">
                    <td class="list-col-size align-middle"><i class="fa-solid fa-list-ul ms-1"></i></td>
                    <td class="align-middle">
                        <span th:text="${resourcelist.name}" class="fw-bold"></span>
                    </td>
                    <td th:text="${resourcelist.description}" class="align-middle"></td>
                    <td class="action-col-size align-middle">
                        <div class="float-end">
                            <a th:href="'/resourcelists/' + ${resourcelist.id}"
                               class="btn btn-sm btn-info btn-mini-size me-1">
                                <i class="fa-solid fa-eye"></i></a>
                            <a th:href="'/resourcelists/update/' + ${resourcelist.id}"
                               class="btn btn-sm btn-warning btn-mini-size me-1">
                                <i class="fa-solid fa-pen-to-square"></i></a>
                            <button type="button" class="btn btn-sm btn-danger btn-mini-size me-1"
                                    data-bs-toggle="modal" data-bs-target="#confirm"
                                    th:data-bs-url="'/resourcelists/delete/' + ${resourcelist.id}"
                                    th:data-bs-text="'¿Desea eliminar la lista «' + ${resourcelist.name} + '»?'">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>

            <p th:if="${resourcelists != null && resourcelists.size() > 0}"
               th:text="'Total de listas: ' + ${resourcelists.size()}"></p>
        </main>

    </div>
    <footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>