<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menú</title>
    <th:replace th:replace="~{fragment/meta :: meta}" />
</head>
<body>
    <th:block th:replace="~{fragment/navbar :: navbar}" />
    <div class="container mt-4">

        <header class="text-center">
            <img src="/img/rtic-c.svg" alt="Logo" width="128" height="128">
            <h1>Recursos TIC</h1>
        </header>

        <main class="text-center">
            <p>Bienvenido a tu brújula digital.</p>
        </main>

        <th:block th:replace="~{fragment/footer :: footer}"></th:block>

    </div>
</body>
</html>