<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menú</title>
    <th:replace th:replace="~{fragment/meta :: meta}" />
</head>
<body>
    <th:block th:replace="~{fragment/navbar :: navbar}" />
    <div class="container mt-4">

        <header>
            <img src="/rtic-c.svg" alt="Logo" width="128" height="128">
            <h1>Recursos TIC</h1>
        </header>

        <main>
            <p>Bienvenido a tu brújula digital.</p>

            <button class="btn btn-primary" onclick="location.href='/resourcelists'">
                <i class="fa-solid fa-list-ul"></i>&nbsp;&nbsp;Ver tus listados de recursos
            </button>
        </main>

        <th:block th:replace="~{fragment/footer :: footer}"></th:block>

    </div>
</body>
</html>