<!doctype html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Menú</title>
    <th:replace th:replace="~{fragment/meta :: meta}" />
</head>
<body class="d-flex flex-column vh-100">
    <th:block th:replace="~{fragment/navbar :: navbar}" />
    <div class="container mt-4 flex-grow-1 vh-100 d-flex justify-content-center align-items-center">

        <div>

            <div>
                <header class="text-center mt-5">
                    <img src="/img/rtic-c.svg" alt="Logo" width="128" height="128">
                    <h1>Recursos&nbsp;TIC</h1>
                </header>

                <main class="text-center">
                    <p class="inverse-accent fw-bold">Bienvenido&nbsp;a tu&nbsp;brújula&nbsp;digital.</p>
                </main>
            </div>

            <div class="text-center mt-5 mb-5">
                <img src="/img/qr.svg" alt="QR">
            </div>

        </div>

    </div>
    <th:block th:replace="~{fragment/footer :: footer}"></th:block>
</body>
</html>