<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detalle de valoración/comentario</title>
</head>
<body>
<h1>Detalle valoración</h1>

<div th:if="${rating}">
    <div>
        <label for="product-id">ID:</label>
        <span id="product-id" th:text="${rating.id}"></span>
    </div>

    <div>
        <label for="product-name">Nombre:</label>
        <span id="product-name" th:text="${rating.user}"></span>
    </div>

    <div>
        <label for="product-price">Precio:</label>
        <span id="product-price" th:text="${rating.resources}"></span>
    </div>

    <div>
        <label for="product-quantity">Cantidad:</label>
        <span id="product-quantity" th:text="${rating.comment}"></span>
    </div>

    <div>
        <label for="product-active">Activo:</label>
        <span id="product-active" th:text="${rating.score}"></span>
    </div>

</div>
<div th:unless="${rating}">
    <p>No existe ninguna valoración</p>
</div>


</body>
</html>