
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Formulario Valoración</title>
</head>
<body>
<h1>Crear / editar valoración</h1>

<!-- Ver Sintaxis Thymeleaf:
https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#standard-expression-syntax
-->
<form method="POST" th:object="${user}" th:action="@{/users}">
  <div>
    <label for="id">Id</label>
    <input type=hidden id="id" th:field="*{id}" />
  </div>
  <div>
    <label for="name">Nombre</label>
    <input type="text" id="name" th:field="*{name}" />
  </div>
  <div>
    <label for="email">Correo Electrónico</label>
    <input type="email" id="email" min="0" max="500" step="0.01" th:field="*{price}"/>
  </div>
  <div>
    <label for="password">Contraseña</label>
    <input type="password" id="password" min="0" max="20" step="0" th:field="*{quantity}"/>
  </div>

  <div>
    <label for="role">Selecciona un rol</label>
    <select id="role" th:field="*{role}">
      <option th:selected="${user.role == null}" value=""></option>
      <option
              th:each="role: ${user.roleOptions.}"
              th:text="${user.roleOptions.valueOf()}"
              th:value="${user.id}"
      ></option>
    </select>
  </div>

  <button type="submit">Enviar</button>
</form>

</body>
</html>
