<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle del recurso</title>
    <th:replace th:replace="~{fragment/meta :: meta}" />
</head>
<body class="d-flex flex-column vh-100">
    <th:block th:replace="~{fragment/navbar :: navbar}" />
    <div class="container mt-4 flex-grow-1">

        <header>
            <h1>Detalle del recurso</h1>
        </header>

        <nav id="actions">
            <button class="btn btn-primary btn-sm" onclick="location.href='/resources'">
                <i class="fa-solid fa-table-list"></i>&nbsp;&nbsp;Listar todos los recursos
            </button>
        </nav>

        <main>
            <p th:if="${resource == null}">El recurso no existe</p>
            <table th:if="${resource}" id="resourceDetail" class="table border shadow">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th th:if="${#sets.size(resource.tags) > 0}">Etiquetas</th>
                    <th sec:authorize="isAuthenticated()"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${resource.id}"></td>
                    <td>
                        <a th:href="${resource.url}" th:text="${resource.title}"></a>
                    </td>
                    <td th:text="${resource.author}"></td>
                    <td th:text="${resource.type}"></td>
                    <td th:text="${resource.description}"></td>
                    <td th:if="${#sets.size(resource.tags) > 0}">
                        <th:block th:each="tag : ${resource.tags}" >
                            <span th:text="${tag}" class="badge rounded-pill text-bg-success"></span>
                        </th:block>
                    </td>
                    <td sec:authorize="isAuthenticated()">
                        <div class="float-end">
                            <a th:href="'/resources/update/' + ${resource.id}" class="btn btn-sm btn-warning me-1">
                                <i class="fa-solid fa-pen-to-square"></i></a>
                            <a th:href="'/resources/delete/' + ${resource.id}"
                               th:if="${#authentication.principal.role.isAdmin()}"
                               class="btn btn-sm btn-danger">
                                <i class="fa-solid fa-trash-can"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <section sec:authorize="isAuthenticated()"
                     th:if="${lists != null && lists.size() > 0L}">
                <h2>Listas del recurso</h2>
                <ul class="list-inline">
                    <li th:each="list : ${lists}" class="list-inline-item">
                        <a th:href="'/resourcelists/' + ${list.id}" th:text="${list.name}"
                           class="btn btn-outline-primary btn-sm"></a>
                    </li>
                </ul>
            </section>

            <section sec:authorize="isAuthenticated()">
                <h2 th:if="${resource}">Valoraciones</h2>

                <nav class="my-3">
                    <button class="btn btn-primary btn-sm"
                            th:onclick="|location.href='/ratings/create/' + ${resource.id}|">
                        <i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Añadir una valoración a esta lista
                    </button>
                </nav>

                <p th:if="${resource != null && ratings.size() == 0L}">No hay valoraciones</p>
                <table th:if="${ratings.size() > 0L}" id="ratingsList" class="table table-striped border shadow">
                    <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Título</th>
                        <th>Comentario</th>
                        <th>Puntuación</th>
                        <th th:if="${#authentication.principal.role.isAdmin()}"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="rating : ${ratings}">
                        <td th:text="${rating.user.name}"></td>
                        <td th:text="${rating.createdAt}"></td>
                        <td th:text="${rating.title}"></td>
                        <td th:text="${rating.comment}"></td>
                        <td th:text="${rating.score + ' ' + '⭐' * rating.score.intValue()}">
                        </td>
                        <td>
                            <div class="float-end">
                                <a th:href="'/ratings/update/' + ${rating.id}"
                                   th:if="${rating.user.id == #authentication.principal.id or #authentication.principal.role.isAdmin()}"
                                   class="btn btn-sm btn-warning me-1">
                                    <i class="fa-solid fa-pen-to-square"></i></a>
                                <a th:href="'/ratings/delete/' + ${rating.id}"
                                   th:if="${rating.user.id == #authentication.principal.id or #authentication.principal.role.isAdmin()}"
                                   class="btn btn-sm btn-danger">
                                    <i class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </section>
        </main>

    </div>
    <footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>