<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle del recurso</title>
    <th:replace th:replace="~{fragment/meta :: meta}" />
</head>
<body class="d-flex flex-column vh-100">
    <th:block th:replace="~{fragment/spinner :: spinner}" />
    <th:block th:replace="~{fragment/navbar :: navbar}" />
    <div class="container mt-4 flex-grow-1">

        <header>
            <h1 th:if="${resource}" th:text="${resource.title}"></h1>
            <h1 th:unless="${resource}">Detalle del recurso</h1>
        </header>

        <nav id="actions">
            <button class="btn btn-primary btn-sm" onclick="location.href='/resources'">
                <i class="fa-solid fa-list-ul"></i>&nbsp;&nbsp;Ver la lista de recursos
            </button>
        </nav>

        <main>
            <p th:if="${resource == null}">El recurso no existe</p>
            <div class="table-responsive">
            <table th:if="${resource}" id="resourceDetail" class="table border shadow">
                <thead>
                <tr>
                    <th></th>
                    <th>Recurso</th>
                    <th>Tipo</th>
                    <th>Autor</th>
                    <th>Descripción</th>
                    <th th:if="${#sets.size(resource.tags) > 0}">Etiquetas</th>
                    <th sec:authorize="isAuthenticated()"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-middle avatar-col-size">
                        <img th:src="${resource.getImageUrl() != '' ? resource.getImageUrl() : '/img/noImage.jpg'}"
                             class="avatar ms-1" th:alt="${resource.getTitle()}">
                    </td>
                    <td class="align-middle">
                        <a th:href="${resource.url}" target="_blank" th:text="${resource.title}"></a>
                    </td>
                    <td th:text="${resource.type}" class="align-middle"></td>
                    <td th:text="${resource.author}" class="align-middle"></td>
                    <td th:text="${resource.description}" class="align-middle"></td>
                    <td th:if="${#sets.size(resource.tags) > 0}" class="align-middle">
                        <th:block th:each="tag : ${resource.tags}" >
                            <span th:text="${tag}" class="badge rounded-pill text-bg-success"></span>
                        </th:block>
                    </td>
                    <td sec:authorize="isAuthenticated()" class="action-col-size align-middle">
                        <div class="float-end">
                            <a th:href="'/resources/update/' + ${resource.id}"
                               class="btn btn-sm btn-warning btn-mini-size me-1">
                                <i class="fa-solid fa-pen-to-square"></i></a>
                            <a th:href="'/resources/delete/' + ${resource.id}"
                               th:if="${#authentication.principal.role.isAdmin()}"
                               class="btn btn-sm btn-danger btn-mini-size me-1">
                                <i class="fa-solid fa-trash-can"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>

            <section sec:authorize="isAuthenticated()"
                     th:if="${lists != null && lists.size() > 0L}" class="mt-4">
                <h2>Listas del recurso</h2>
                <ul class="list-inline">
                    <li th:each="list : ${lists}" class="list-inline-item">
                        <a th:href="'/resourcelists/' + ${list.id}" class="btn btn-outline-primary btn-sm shadow-sm">
                            <i class="fa-solid fa-list-ul me-2"></i><pan th:text="${list.name}"></pan></a>
                    </li>
                </ul>
            </section>

            <section sec:authorize="isAuthenticated()">
                <h2 th:if="${resource}">Valoraciones</h2>

                <nav class="my-3">
                    <button class="btn btn-primary btn-sm"
                            th:onclick="|location.href='/ratings/create/' + ${resource.id}|">
                        <i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Añadir una valoración a esta lista
                    </button>
                </nav>

                <p th:if="${resource != null && ratings.size() == 0L}">No hay valoraciones</p>
                <div class="table-responsive">
                <table th:if="${ratings.size() > 0L}" id="ratingsList" class="table table-striped border shadow">
                    <thead>
                    <tr>
                        <th class="avatar-col-size"></th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Título</th>
                        <th>Comentario</th>
                        <th>Puntuación</th>
                        <th th:if="${#authentication.principal.role.isAdmin()}"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="rating : ${ratings}">
                        <td class="align-middle avatar-col-size">
                            <img th:src="${rating.user.getImageUrl() != '' ? rating.user.getImageUrl() : '/img/user/noUser.png'}"
                                 class="avatar rounded-circle ms-1" th:alt="${rating.user.getUsername()}">
                        </td>
                        <td th:text="${rating.user.name}" class="align-middle"></td>
                        <td th:text="${#temporals.format(rating.createdAt, 'dd/MM/yyyy HH:mm')}" class="align-middle small"></td>
                        <td th:text="${rating.title}" class="fw-bold align-middle"></td>
                        <td th:text="${rating.comment}" class="align-middle"></td>
                        <td th:text="${'⭐' * rating.score.intValue()}" class="align-middle">
                        </td>
                        <td class="action-col-size align-middle">
                            <div class="float-end">
                                <a th:href="'/ratings/update/' + ${rating.id}"
                                   th:if="${rating.user.id == #authentication.principal.id or #authentication.principal.role.isAdmin()}"
                                   class="btn btn-sm btn-warning btn-mini-size me-1">
                                    <i class="fa-solid fa-pen-to-square"></i></a>
                                <a th:href="'/ratings/delete/' + ${rating.id}"
                                   th:if="${rating.user.id == #authentication.principal.id or #authentication.principal.role.isAdmin()}"
                                   class="btn btn-sm btn-danger btn-mini-size me-1">
                                    <i class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>
                </div>
            </section>
        </main>

    </div>
    <footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>