<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario</title>
    <th:replace th:replace="~{fragment/meta :: meta}" />
</head>
<body>
    <div class="container mt-4">

        <header>
            <h1 th:if="${resource.id}">Editar recurso <span th:text="${resource.id}"></span></h1>
            <h1 th:unless="${resource.id}">Crear un nuevo recurso</h1>
        </header>

        <main>
            <p th:if="${resource == null}">El recurso no existe</p>
            <form th:if="${resource}"  id="resourceForm" th:action="@{/resources}" th:object="${resource}" method="post">
                <fieldset>
                    <legend>Datos del recurso</legend>
                    <div class="form-group">
                        <input type="hidden" id="id" th:field="*{id}" />
                        <div>
                            <label for="title" class="form-label">Título</label>
                            <input type="text" class="form-control" id="title" th:field="*{title}" />
                        </div>
                        <div>
                            <label for="url" class="form-label">Url</label>
                            <input type="text" class="form-control" id="url" th:field="*{url}" />
                        </div>
                        <div>
                            <label for="author" class="form-label">Autor</label>
                            <input type="text" class="form-control" id="author" th:field="*{author}" />
                        </div>
                        <div>
                            <label for="description" class="form-label">Descripción (TODO hacer un área de texto)</label>
                            <input type="text" class="form-control" id="description" th:field="*{description}" />
                        </div>
                        <div>
                            <label for="type" class="form-label">Tipo (TODO Hacer selector)</label>
                            <input type="text" class="form-control" id="type" th:field="*{type}" />
                        </div>
                        <div>
                            <label for="tags" class="form-label">Etiquetas (TODO Hacer selector múltiple)</label>
                            <input type="text" class="form-control" id="tags" th:field="*{tags}" />
                        </div>
                    </div>
                </fieldset>
                <div>
                    <button type="button" class="btn btn-secondary me-2" onclick="location.href='/resources'">
                        <i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Guardar</button>
                </div>
            </form>
        </main>

        <footer th:replace="~{fragment/footer :: footer}"></footer>

    </div>
</body>
</html>