<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recursos</title>
    <th:replace th:replace="~{fragment/meta :: meta}" />
</head>
<body class="d-flex flex-column vh-100">
    <th:block th:replace="~{fragment/spinner :: spinner}" />
    <th:block th:replace="~{fragment/navbar :: navbar}" />
    <div class="container mt-4 flex-grow-1">

        <header>
            <h1>Recursos</h1>
        </header>

        <nav id="actions" sec:authorize="isAuthenticated()">
            <button class="btn btn-primary btn-sm" onclick="location.href='/resources/create'">
                <i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Crear un recurso nuevo
            </button>
        </nav>

        <main>
            <p th:if="${resources == null || resources.size() == 0}" class="mt-3">No existen recursos</p>
            <table th:unless="${resources == null || resources.size() == 0}" id="resourcesList"
                   class="table table-striped border shadow">
                <thead>
                <tr>
                    <th class="avatar-col-size"></th>
                    <th>Recurso</th>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="resource : ${resources}">
                    <td class="align-middle avatar-col-size">
                        <img th:src="${resource.getImageUrl() != '' ? resource.getImageUrl() : '/img/noImage.jpg'}"
                             class="avatar ms-1" th:alt="${resource.getTitle()}">
                    </td>
                    <td class="align-middle">
                        <a th:href="${resource.url}" target="_blank" th:text="${resource.title}"></a>
                    </td>
                    <td th:text="${resource.type}" class="align-middle"></td>
                    <td th:text="${resource.description}" class="align-middle"></td>
                    <td class="action-col-size align-middle">
                        <div class="float-end">
                            <a th:href="'/resources/' + ${resource.id}"
                               class="btn btn-sm btn-info me-1"><i class="fa-solid fa-eye"></i></a>
                            <a sec:authorize="isAuthenticated()" th:href="'/resources/update/' + ${resource.id}"
                               class="btn btn-sm btn-warning me-1"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a sec:authorize="isAuthenticated()" th:if="${#authentication.principal.role.isAdmin()}"
                               th:href="'/resources/delete/' + ${resource.id}"
                               class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <p th:if="${resources != null && resources.size() > 0}"
               th:text="'Total de recursos: ' + ${resources.size()}"></p>
        </main>

    </div>
    <footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>